body {
    background: url("https://i.imgur.com/lAsI3ml_d.webp?maxwidth=1520&fidelity=grand");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Monospace;

}


h1 {
    color: white
}


h2 {
    color: white
}

p {
    color: white
}

#comment-form {
    color: white
}

#pokemon-form {
    color: white
}

#pokemon_dropdown {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}

.float-child {
    width: 45%;
    float: left;
    padding: 20px;
    border: 2px solid white;
} 